.layout {
	padding: 30rpx;
	display: flex;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap:30rpx;
}
.flex-col {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 40rpx;
	
}
@import 'uview-plus/theme.scss';